<app-upload-excel #uploadExcel (resultInfo)="resultInfo($event)"></app-upload-excel>
<app-upload-excel #uploadExcelSKU (resultInfo)="resultInfo($event)"></app-upload-excel>
<app-upload-excel #uploadExcelPacks (resultInfo)="resultInfoPacks($event)"></app-upload-excel>

<app-upload-excel #uploadExcelImage (resultInfo)="resultInfoProduct($event)"
  [processType]="'massive-product-load-image'"></app-upload-excel>
<app-upload-excel #uploadExcelStock (resultInfo)="resultInfo($event)" [processType]="'massive-product-stock-load'">
</app-upload-excel>
<app-upload-excel #downloadProductsBySeller (resultInfo)="resultInfo($event)"
  [processType]="'massive-product-stock-load'">
</app-upload-excel>
<app-upload-excel #uploadExcelListPrice (resultInfo)="resultInfo($event)"
  [processType]="'massive-product-list-price-load'"></app-upload-excel>

<div class="fake-header">
</div>
<div class="header" [ngClass]="{ 'edit-mode-h': editMode }">
  <div class="container">
    <div class="title" *ngIf='!viewArchive'>Listado de Productos <span *ngIf='showProductWithOutStock'>sin stock</span>
    </div>
    <div class="title" *ngIf='viewArchive'>Listado de Archivados</div>

    <!-- <div *ngIf="supplierInfo && supplierInfo.method_send[0].active || !supplierInfo" class="buttons-container"> -->
    <div class="buttons-container">

      <button type="button" class="primary-button" *ngIf='editMode' (click)="uploadProductsStock()">
        <i class="fas fa-upload"></i> Carga de stock
      </button>
      <button type="button" class="primary-button" *ngIf='editMode && supplierId' (click)="uploadProductListPrice()">
        <i class="fas fa-upload"></i> Carga de precios
      </button>
      <button type="button" class="primary-button" *ngIf='editMode && !supplierId' (click)="uploadPacks()">
        <i class="fas fa-upload"></i> Carga Packs
      </button>
      <button type="button" class="primary-button" *ngIf='editMode && !supplierId' (click)="uploadProducts()">
        <i class="fas fa-upload"></i> Carga Productos
      </button>
      <button type="button" class="primary-button" *ngIf='editMode && supplierId' (click)="uploadProductsImage()">
        <i class="fas fa-upload"></i> Carga Productos
      </button>
      <app-dropdown *ngIf='editMode && !supplierId' [styles]="customDropwDownStyle" [items]="dropdownOptions.values"
        [regularDropDown]="false"></app-dropdown>
      <!-- <button type="button" class="primary-button" *ngIf='editMode' (click)="seeArchive()">
        <i class="fas fa-folder-download"></i> {{ !viewArchive ? 'Archivados' : 'Listado general' }}
      </button>
      <button type="button" class="primary-button" *ngIf='editMode' (click)="uploadProductsSKU()">
        <i class="fas fa-upload"></i> Carga Productos con SKU
      </button> -->
      <ng-container>
        <button type="button" class="primary-button" [ngClass]='{"button-big":showProductWithOutStock}'
          (click)="chancheStateSwitch()">
          <section *ngIf='!showProductWithOutStock'>
            <i class="fas fa-eye"></i> Productos sin stock
          </section>
          <section *ngIf='showProductWithOutStock'>
            <i class="fas fa-eye-slash"></i> Cerrar Productos sin stock
          </section>
        </button>
        <button type="button" class="primary-button" *ngIf='showProductWithOutStock' (click)='exportWithoutProduct()'>
          <i class="far fa-file-excel"></i> Exportar Productos</button>
      </ng-container>

      <ng-container *ngIf='!showProductWithOutStock'>
        <ng-container *ngIf="validEditMode">
          <button type="button" class="primary-button" (click)="changeEditMode()">
            <i class="fas fa-pencil"></i> Modo edición
          </button>

        </ng-container>
      </ng-container>
      <ng-container>
        <!--  <button type="button" *ngIf='supplierId && supplierInfo.method_send[0].active' class="primary-button"
           (click)="seeMethodSend()">
           <i class="fas fa-paper-plane"></i> Método de envío
         </button> -->
         
        <button type="button" class="primary-button" (click)="listAllFatherVariations()" *ngIf='is_variation_product_luxury'>
          <ng-container *ngIf="!viewFatherVariations"><i class="fas fa-paper-plane"></i> Productos Base
          </ng-container>
          <ng-container *ngIf="viewFatherVariations"><i class="fas fa-paper-plane"></i> Todos
          </ng-container>
        </button>
        <button type="button" class="primary-button" (click)="changeEditMode()">
          <!--<i class="fas fa-pencil"></i> Modo edición-->
          <i class="fas" [ngClass]="{'fa-plus': !editMode, 'fa-minus': editMode}"></i> {{!editMode ? "Más opciones" :
          "Menos opciones"}}
        </button>
      </ng-container>
      <button type="button" class="primary-button" (click)="createProduct()">
        <i class="fas fa-plus-circle"></i> Agregar Producto
      </button>
    </div>
  </div>
</div>
<div class="content" [ngClass]="{ 'edit-mode-c': editMode }">
  <section class="container">
    <app-grid #gridList (fieldReturn)="fieldReturn($event)" (actionAnswer)="actionAnswer($event)">
    </app-grid>
  </section>
</div>
<app-dialog-confirm (answerModal)="answerModal($event)"></app-dialog-confirm>

<article class="container-modal" *ngIf="showSummary">
  <section class="modal-body modal-big">
    <header>
      Nuevos Productos Paquetes
    </header>
    <section class="body row">
      <table>
        <thead>
          <tr>
            <th>Código Padre</th>
            <th>Código Hijo</th>
            <th>Cantidad</th>
            <th>Estado</th>
            <th>Mensaje de error</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pack of listResultPacks">
            <td>{{ pack.sku_father }}</td>
            <td>{{ pack.sku_child }}</td>
            <td>{{ pack.quantity }}</td>
            <td>
              <label *ngIf="pack.save" [ngClass]="{ 'valid-true': pack.save }">Ha sido agregado</label>
              <label *ngIf="!pack.save" [ngClass]="{ 'valid-false': !pack.save }">No agregado</label>
            </td>
            <td>{{ pack.error }}</td>
          </tr>
        </tbody>
      </table>
    </section>
    <footer>
      <button type="button" class="primary-button" (click)="closeSummary()">
        Continuar
      </button>
    </footer>
  </section>
</article>

<article class="container-modal" *ngIf="showSummaryMassiveLoadProducts">
  <section class="modal-body modal-big">
    <header>
      Nuevos Producto
    </header>
    <section class="body row">
      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Estado</th>
            <th>Mensaje de error</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of listResultProducts">
            <td>{{ product.name }}</td>
            <td>
              <label *ngIf="product.save" [ngClass]="{ 'valid-true': product.save }">Ha sido agregado</label>
              <label *ngIf="!product.save" [ngClass]="{ 'valid-false': !product.save }">No agregado</label>
            </td>
            <td>{{ product.error }}</td>
          </tr>
        </tbody>
      </table>
    </section>
    <footer>
      <button type="button" class="primary-button" (click)="closeSummary()">
        Continuar
      </button>
    </footer>
  </section>
</article>

<article class="container-modal" *ngIf="showSummaryMassiveImage">
  <section class="modal-body" [ngClass]="{'step-image-1': stepUploadImage == 1}">
    <header>
      Proceso de subida masiva de imágenes
    </header>
    <section class="body row">
      <section *ngIf='stepUploadImage == 1'>
        <section class="container-up-image">
          <section class="one-image">
            <app-uploader-verification [supplierInfo]='supplierInfoChargeExcel'
              (listUploadImage)='setListUploadImage($event)'></app-uploader-verification>
          </section>
        </section>
        <section class='wrapper-list'>
          <div class='list-image-upload' *ngFor='let image of listUploadImage; let position = index'>
            <div class="row container-image">
              <div class="icon-image">
                <i class="far fa-file-image"></i>
              </div>
              <div class="column detail-list">
                <div>
                  {{image.name}}
                </div>
                <div class="">
                  <p>Dimensiones: {{image.dimension.width}} X {{image.dimension.height}}</p>
                  <p>Peso: {{image.size}}</p>
                </div>
              </div>
              <div class="delete-list-image" (click)='deleteImageUpload(position)'>
                <i class="fas fa-trash-alt"></i>
              </div>
            </div>
          </div>
        </section>
      </section>
    </section>
    <footer>
      <button type="button" class="primary-button" (click)="cancelUploadImage()">
        Cancelar
      </button>
      <button type="button" class="primary-button" (click)="compareValidInfo()">
        Continuar
      </button>
    </footer>
  </section>
</article>

<app-summary-upload-product *ngIf='summaryExcel' [listProduts]='listInfoProductUpdate'
  [supplierInfo]='supplierInfoChargeExcel' [summary]='summaryProductUpdate' (answerContinue)=answerContinue($event)>
</app-summary-upload-product>
<app-math-img-excel-summary *ngIf='showMatchModal' [listExcel]='listInfoProductUpdate' [listImage]='listUploadImage'
  [maxError]='summaryProductUpdate.maxError' (closeModal)='closeModalMatch($event)'></app-math-img-excel-summary>
<app-upload-masive-product *ngIf='showProcess' [listExcelUpload]='listInfoProductUpdate'
  [supplierInfo]='supplierInfoChargeExcel' [listImageUpload]='listUploadImage' (closeUploading)="closeUploading()">
</app-upload-masive-product>