@import "../../../../../variables.scss";

:host {
  background-color: $bg-color;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  /*   height: calc(100vh - 64px);
overflow-y: auto;
font-size: 14px; */
  font-size: 14px;
  .container {
    width: 100%;
    max-width: unset;
  }

  .header {
    //position: absolute;
    position: fixed;
    display: inline-block;
    height: 120px;
    width: 100%;
    background: #fa6f48 !important;
    .container {
      background-color: transparent;
      display: flex;
      align-items: center;
    }
    .title {
      display: inline-block;
      color: #efefef;
      text-align: left;
    }
  }
  .fake-header {
    width: 100%;
    height: 64px;
  }

  .buttons-container {
    display: inline-block;
    text-align: right;
    flex-grow: 2;
    button {
      display: inline-block;
      margin: auto;
      margin-right: 0;
      width: fit-content;
      margin-left: 10px;
      min-width: 120px;
    }
  }

  .container-drop {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
  }
  .autocomplete {
    position: relative;
    section {
      position: absolute;
    }
  }

  .special-row {
    margin-top: 18px;
  }

  .mat-slide-toggle-bar {
    background-color: #2196f3 !important;
  }
  .sub-tittle {
    margin-bottom: 1em;
    font-family: $font-bold;
  }
  .tittle-input {
    margin: 1em 0em;
    font-family: $font-light;
  }

  .example-list {
    width: 90%;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
  }

  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }

  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14),
      0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }

  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .delete-drop-item {
    cursor: pointer;
    color: red;
  }
  .example-box:last-child {
    border: none;
  }

  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .part-section-empty-image {
    display: flex;
    justify-content: center;
  }

  .content {
    /*width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;*/
    position: relative;
    margin-top: 70px;
    margin-left: 64px;
    z-index: 10;
    .container-partition {
      padding: 0 !important;
      margin: 0 auto;
      box-sizing: border-box;
      width: calc(100% - 80px) !important;
      max-width: unset;
      width: 100%;
    }
    .container {
      @include shadow();
      border-radius: 6px;
    }
  }
  .img-container-only-one,
  .img-container-one {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;
    .activation {
      padding: 0 !important;
    }
    .images {
      align-self: stretch;
      min-height: 245px;
      /* width: calc(50% - 10px); */
      box-sizing: border-box;
      padding: 20px;
      margin-top: 15px;
      border: 1px solid #eaeaea;
      border-radius: 5px;
      //@include shadow();
      position: relative;
      min-width: 250px;
      img {
        background-color: #efefef;
        object-fit: contain;
        object-position: center;
        width: 100%;
        height: 200px;
        cursor: pointer;
        border-radius: 5px;
      }
    }
  }
  .img-container-one {
    .images {
      width: 100%;
    }
  }
}
