.background-load{
    background: white;
    min-height: 100px;
}

.table-loading{
    header{
        section{
            width: 100%;
            height: 30px;
            margin-top: 14px;
            background: #b5b5b5;
        }
    }
    .body-table{
        section{
            background: #DEDEDE;
            height: 20px;
            width: 100%;
            margin-top: 20px;
        }
    }
}