@import "../../../../variables.scss";
::ng-deep .uploader-image-container {
  height: 185px;
}


:host {
  // ::ng-deep app-grid { //change
  //   table {
  //     width: 102%;
  //     th {
  //       text-align: left;
  //     }
  //   }
  // }
  background-color: $bg-color;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  /*   height: calc(100vh - 64px);
overflow-y: auto;
font-size: 14px; */
  font-size: 14px;
  ::ng-deep {
    .mat-expansion-panel-body {
      padding: 0 !important;
    }
  }
  mat-expansion-panel {
    box-shadow: none;
    mat-expansion-panel-header {
      padding-left: 0px;
      p {
        margin: 0;
      }
    }
  }
  .button-select-all{
    background: #1d72e8;
    color: white;
  }
  .button-disabled{
    background-color:#EAEAEA !important;
    border: 1px solid #EAEAEA !important;
    color:#BABABA !important;
    cursor: auto;
  }
  .error-info {
    margin-top: 20px;
    color: #f44336;
    font-size: 12px;
  }
  .container {
    width: 100%;
    max-width: unset;
  }

  .header {
    //position: absolute;
    position: fixed;
    display: inline-block;
    height: 120px;
    width: 100%;
    background: #fa6f48 !important;
    .container {
      background-color: transparent;
      display: flex;
      align-items: center;
    }
    .title {
      display: inline-block;
      color: #efefef;
      text-align: left;
    }
  }
  .fake-header {
    width: 100%;
    height: 64px;
  }
  header {
    position: relative;
    #close-button {
      position: absolute;
      right: 4%;
      font-size: 25px;
      color: gray;
      cursor: pointer;
      top: 10%;
    }
  }
  .buttons-container {
    display: inline-block;
    text-align: right;
    flex-grow: 2;
    button {
      display: inline-block;
      margin: auto;
      margin-right: 0;
      width: fit-content;
      margin-left: 10px;
      min-width: 120px;
    }
  }

  .container-address {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between !important;

    justify-content: space-between !important;
    .card {
      margin: 0;
      align-self: stretch;
      width: calc(50% - 10px);
      box-sizing: border-box;
      padding: 20px;
      border: none;
      @include shadow();
      margin-bottom: 15px;
    }
  }

  .brand-section {
    text-align: left;
    // margin-left: 100px;
  }
  .add-margin-supplier {
    margin-bottom: 16px;
  }
  .content {
    /*width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;*/
    position: relative;
    margin-top: 70px;
    margin-left: 64px;
    z-index: 10;
    .container-partition {
      padding: 0 !important;
      margin: 0 auto;
      box-sizing: border-box;
      width: calc(100% - 80px) !important;
      max-width: unset;
      width: 100%;
    }
    .container {
      @include shadow();
      border-radius: 6px;
    }
  }
  .button-subtitle {
    width: auto;
    max-width: unset !important;
    align-self: center;
  }
  p {
    display: flex !important;
    align-content: space-between;
    justify-content: space-between;
    display: inline-block;
    width: 100%;
  }
  .img-container-only-one,
  .img-container-one {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;
  }

  .images {
    align-self: stretch;
    /* width: calc(50% - 10px); */
    box-sizing: border-box;
    padding: 20px;
    margin-top: 15px;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    /* @include shadow(); */
    min-width: 250px;
    img {
      background-color: #efefef;
      object-fit: contain;
      object-position: center;
      width: 100%;
      height: 200px;
    }
  }
  .action-button-right {
    width: 100%;
  }
  .container-row.fixed {
    box-shadow: none;
    padding: 0;
    margin: 0;
    height: auto;
    div {
      display: inline-block;
      .images {
        width: calc(100% - 13px);
      }
    }
  }
  .custom-chip {
    background: rgb(232, 245, 233);
    color: rgb(61, 212, 122);
    border-radius: 5px;
    margin: 5px;
    font-weight: normal;
    font-size: 12px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    width: auto !important;
    font-weight: bold;
    i {
      cursor: pointer;
    }
  }
  .container-table {
    height: 300px;
    margin-left: -10px;
    width: 101%;
    padding: 10px;
    padding-right: 0px;
    thead {
      td {
        vertical-align: initial;
        text-align: center;
        color: #6b6f82;
        padding: 0 14px 10px 14px;
        font-size: 15px;
      }
    }
    tbody {
      td {
        text-align: center;
      }
    }
    .active {
      background: #e8f5e9;
      color: #3dd47a;
      padding: 2px 10px;
      border-radius: 5px;
    }
    .not-active {
      background: #fce4ec;
      color: #fd96b9;
      padding: 2px 10px;
      border-radius: 5px;
    }
  }
  .scrollable {
    height: 400px; /* or any value */
    overflow-y: auto;
  }
  .send-method {
    height: 390px;
  }
  .users {
    height: auto;
  }
  tbody {
    height: 210px !important;
  }
}
