// @import '../../../variables.scss';
// :host{
//   font-family: 'Avenir LT Std 45 Book';
    
// }

// #email-valid
// {
//     width: 100px;
//     color:$color-primary;
// }

// #title{
//     font-size: 22px;
//     font-weight: bold;
//     text-align: center;
//     margin-bottom: 1em;
//     font-family: $font-heavy;
// }

// .login-divider{
//     min-height: calc(100vh - 64px);
//     display: block;
//     padding: 0;
//     margin: 0;
//     box-sizing: border-box;
// }

// @media only screen and (min-width: 1001px) {
//     .right-side{        
//         padding: 60px;
//         form{
//             width: 70%;
//             margin: auto;
//         }
//     }
    
// }

// @media only screen and (min-width: 701px) and (max-width: 1000px) {
//     .right-side{
//         padding-top:60px;
//         form{
//             width: 90%;
//             margin: auto;
//             button{
//                 width: 90%;
//                 margin: auto;
//                 margin-top: 2em;
//             }
//         }
       
//     }
// }

// @media only screen and (min-width: 701px) {
//     .right-side, .left-side{
//         width:50%;
//         min-height: calc(100vh - 64px);
//         height: 100%;
//         display: inline-block;
//         box-sizing: border-box;
//         margin: 0;
//         text-align: center;
//         vertical-align: top;
//         h2{
//             margin: 0;
//         }
//     }
//     .left-side {
//         background-image: url(../../../assets/img/bg-admin.jpg);
//         background-size: cover;
//     }
// }

// @media only screen and (max-width: 700px) {
//     .right-side{
//         padding-top:60px;
//         width:90%;
//         min-height: calc(100vh - 64px);
//         height: 100%;
//         box-sizing: border-box;
//         margin: auto;
//         text-align: center;
//         vertical-align: top;
//         form{
//             width: 90%;
//             margin: auto;
//             button{
//                 width: 90%;
//                 margin: auto;
//                 margin-top: 2em;
//             }
//         }
        
//     }
// }

:host {
    ::ng-deep {
        .mat-form-field-infix {
            background-color: transparent !important;
        }
    }
    h2{
        color: black !important;
        font-weight: 100;
    }
    .login-background {
        background: #fa6f48 !important;
        h2 {
            text-align: center;
            /* color: purple; */
            color: #1d72e8;
            font-size: 24px;
        }

        display: flex;
        height: 100vh;
        width: 100vw;
        align-content: center;
        justify-content: center;
        .login-modal {
            z-index: 9;
            max-width: 500px;
            min-height: 280px;
            width: 100%;
            align-self: center;
            border-radius: 10px;
            padding: 25px;
            padding-top: 40px;
            box-sizing: border-box;
            background-color: rgba(255, 255, 255, 0.9);
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
        }
    }
}
