@import "../../../variables.scss";
:host {
  background-color: $bg-color;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  height: calc(100vh - 64px);
  //overflow-y: auto;
  font-size: 14px;

  .container {
    width: calc(100% - 80px);
    max-width: unset;
  }

  .header {
    position: fixed;
    top: 64px;
    display: inline-block;
    height: 120px;
    width: 100%;
    background: #fa6f48 !important;
    .container {
      background-color: transparent;
      display: flex;
      align-items: center;
    }
    .title {
      display: inline-block;
      color: #efefef;
      text-align: left;
    }
  }
  .buttons-container {
    display: inline-block;
    text-align: right;
    flex-grow: 2;
    button {
      display: inline-block;
      margin: auto;
      margin-right: 0;
      width: fit-content;
      margin-left: 10px;
      min-width: 120px;
    }
  }

  #search {
    mat-form-field {
      width: 100%;
    }
  }

  .container-table {
    overflow-y: auto;
    height: calc(100vh - 380px);
  }

  #table-main {
    tr {
      .product {
        width: calc(66% - 130px);
      }
      .brand {
        width: calc(10% - 130px);
      }
      .provider {
        width: calc(5% - 130px);
      }
      .sku {
        width: calc(2% - 130px);
      }
      .price {
        width: calc(2% - 130px);
      }
      .count {
        width: 75px;
      }
      .visible {
        width: 60px;
      }
    }
  }
  .fake-header {
    width: 100%;
    height: 64px;
  }
  .content {
    position: relative;
    margin-top: 70px;
    z-index: 10;
    margin-left: 64px;
    .container {
      @include shadow();
      border-radius: 6px;
    }
  }
}
