@import "../../../../variables.scss";
:host {
  background-color: $bg-color;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  /*   height: calc(100vh - 64px);
overflow-y: auto;
font-size: 14px; */
  font-size: 14px;
  .button-disabled{
    background-color:#EAEAEA;
    border: 1px solid #EAEAEA !important;
    color:#BABABA;
  }
}
.modal-small {
  ::ng-deep {
    .mat-form-field-wrapper {
      margin-left: 10px !important;
    }
  }
}
section {
  padding: 0 ;
}
.container {
  width: 100%;
  max-width: unset;
}

.header {
  //position: absolute;
  position: fixed;
  display: inline-block;
  height: 120px;
  width: 100%;
  background: #fa6f48 !important;
  .container {
    background-color: transparent;
    display: flex;
    align-items: center;
  }
  .title {
    display: inline-block;
    color: #efefef;
    text-align: left;
  }
}
.fake-header {
  width: 100%;
  height: 64px;
}
header {
  position: relative;
  #close-button {
    position: absolute;
    right: 3.5%;
    font-size: 25px;
    color: gray;
    cursor: pointer;
    top: 8%;
  }
}
.buttons-container {
  display: inline-block;
  text-align: right;
  flex-grow: 2;
  button {
    display: inline-block;
    margin: auto;
    margin-right: 0;
    width: fit-content;
    margin-left: 10px;
    min-width: 120px;
  }
}
.button-option {
  font-size: 10px;
  text-transform: uppercase;
  padding: 0.9em 1.3em;
}
.content {
  /*width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: block;*/
  position: relative;
  margin-top: 70px;
  margin-left: 64px;
  z-index: 10;
  .container-partition {
    padding: 0 !important;
    margin: 0 auto;
    box-sizing: border-box;
    width: calc(100% - 80px) !important;
    max-width: unset;
    width: 100%;
  }
  .container {
    @include shadow();
    border-radius: 6px;
  }
}
.container-location {
  height: 400px;
  overflow-y: auto;
}

.container-table {
  table-layout: fixed;
}

.table-title {
  align-items: center;
  display: flex;
  justify-content: center;
}
.separate {
  padding-bottom: 18px;
  margin-bottom: 10px;
}
#slide {
  right: -10px;
}
.container-modal {
  .add-price {
    display: flex;
    justify-content: center;
    mat-form-field {
      width: 100px;
      text-align: center;
    }
    span {
      color: gray;
      font-size: 12px;
    }
  }

  .timer {
    display: flex;
    justify-content: center;
    align-items: center;
    .container-timer {
      .separator {
        font-size: 32px;
      }
      div {
        i {
          font-size: 40px;
          cursor: pointer;
        }
      }
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input {
        font-size: 32px;
        width: 50px;
        text-align: center;
        border: none;
        &:focus {
          border: none;
          outline: none;
        }
      }
    }
  }
}

.container-table tbody {
  display: block;
  overflow-y: auto;
  width: 100%;
  height: 300px;
}

.container-table thead tr {
  padding-right: 19px;
}

.container-table tr {
  display: flex;
}

mat-form-field {
  width: 90%;
}

.date-assign {
  display: flex;
  margin-bottom: 1em;
  .check-day {
    width: 100px;
  }
  .time-day {
    align-items: center;
    display: flex;
    justify-content: center;
    span {
      margin: 0em 1em;
      // padding: 0.2em 0.5em;
      border: 1px solid $gray-light;
      border-radius: 5px;
      width: 75px;
      text-align: center;
      cursor: pointer;
    }
  }
}

.check-use {
  i {
    font-size: 18px;
  }
  .fa-times-circle {
    color: #8e8e8e;
  }
  .fa-check-circle {
    color: #1e88e5;
  }
}
.ubigeo {
  min-width: 90px;
}
.location {
  position: relative;
  width: calc(27% - 65px);
  i {
    position: absolute;
    right: 0px;
    font-size: 16px;
    cursor: pointer;
  }
}

.column-table {
  padding: 0.5em 0em;
  box-sizing: border-box;
  cursor: pointer;
  color: #6b6f82;
  &:nth-child(2n + 1) {
    background-color: $gray-light;
  }
  &:hover {
    background-color: $table-hover;
  }
}
.price {
  width: 10%;
}

.active {
  width: 100px;
}

.select {
  width: 30px;
}

.info {
  display: inline-block;
}
.enter-price {
  border: none;
}
.footer-buttons {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  button {
    margin: 2px -10px;
  }
}
.container-row.left {
  div {
    width: 110%;
  }
}
.button-cancel {
  color: #1d72e8;
  border: 1px solid #1d72e8 !important;
}
.button-confirm {
  color: #fff;
  border: 1px solid #1d72e8 !important;
  background: #1d72e8;
}