@import "../../../../variables.scss";
::ng-deep .uploader-image-container {
  height: 185px;
}
:host {
  background-color: $bg-color;
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
  /*   height: calc(100vh - 64px);
overflow-y: auto;
font-size: 14px; */
  font-size: 14px;
  .icon-section {
    display: flex;
    flex-direction: row;
    div {
      margin: 10px;
      i {
        font-size: 25px;
      }
    }
  }

  .container,
  .container-partition {
    width: calc(100% - 80px);
    max-width: unset;
  }

  .header {
    //position: absolute;
    position: fixed;
    display: inline-block;
    height: 120px;
    width: 100%;
    background: #fa6f48 !important;
    .container {
      background-color: transparent;
      display: flex;
      align-items: center;
    }
    .title {
      display: inline-block;
      color: #efefef;
      text-align: left;
    }
  }
  .fake-header {
    width: 100%;
    height: 64px;
  }
  header {
    position: relative;
    #close-button {
      position: absolute;
      right: 3.5%;
      font-size: 25px;
      color: gray;
      cursor: pointer;
      top: 8%;
    }
  }
  .buttons-container {
    display: inline-block;
    text-align: right;
    flex-grow: 2;
    button {
      display: inline-block;
      margin: auto;
      margin-right: 0;
      width: fit-content;
      margin-left: 10px;
      min-width: 120px;
    }
  }

  button {
    margin: 0;
    margin-bottom: 0.5em;
  }
  .outline-button {
    width: 200px !important;
    text-transform: none;
  }
  footer {
    .button-option {
      width: 150px !important;
    }
  }
  .container-icon {
    display: flex;
    align-items: center;
    div {
      &:nth-child(1) {
        width: 85%;
      }
      .icon-font {
        font-size: 30px;
      }
    }
  }

  .container-image-icon {
    text-align: center;
    border: 1px solid gray;
    padding: 0.3em 0.5em;
    border-radius: 5px;
    cursor: pointer;
    i {
      font-size: 18px;
    }
    p {
      font-size: 12px;
      margin-top: 5px;
    }
  }

  .field-customise {
    border-bottom: 1px solid gray;
    width: 90%;
    margin-bottom: 1em;
    span {
      display: block;
      color: gray;
      font-size: 11px;
      margin-bottom: 0.5em;
    }
  }

  .part-section-image-container {
    overflow: hidden;
    height: 120px;
    width: 120px;
    cursor: pointer;
    img {
      height: 120px;
      width: 120px;
      object-fit: cover;
      object-position: center;
    }
  }
  .content {
    /*width: 100%;
    margin-right: auto;
    margin-left: auto;
    display: block;*/
    position: relative;
    margin-top: 70px;
    margin-left: 64px;
    z-index: 10;
    .container-partition {
      padding: 0 !important;
      margin: 0 auto;
      box-sizing: border-box;
      width: calc(100% - 80px) !important;
      max-width: unset;
      width: 100%;
    }
    .container {
      @include shadow();
      border-radius: 6px;
    }
  }
  .button-subtitle {
    width: auto;
    max-width: unset !important;
    align-self: center;
  }
  p {
    display: flex !important;
    align-content: space-between;
    justify-content: space-between;
    display: inline-block;
    width: 100%;
  }
  .section-icon {
    text-align: center;
    cursor: pointer;
  }
  .img-container-one {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;
    .images {
      width: 100%;
      align-self: stretch;
      /* width: calc(50% - 10px); */
      box-sizing: border-box;
      padding: 20px;
      margin-top: 15px;
      /* @include shadow(); */
      border: 1px solid $border;
      border-radius: 5px;
      min-width: 250px;
      img {
        background-color: #efefef;
        object-fit: contain;
        object-position: center;
        width: 100%;
        height: 200px;
        border-radius: 5px;
      }
    }
  }
}
