<section class='background-load' >
    
     <section class="container-loading">
        <section class="circle-container">
            <div class="circle">

            </div>
        </section>
        <section class="col-100 column rectangule-container">
            <section class="col-100 row">
                <section class="col-30 rectangule"></section>
                <section class="col-30 rectangule"></section>
                <section class="col-40 rectangule"></section>
            </section>
            <section class="col-100 row">
                <section class="col-30 rectangule"></section>
                <section class="col-30 rectangule"></section>
                <section class="col-40 rectangule"></section>
            </section>
        </section>
    </section>
</section>