<section class='background-load' *ngIf='showLoading'>
    <section class='col-100'>
        <section class="column col-100">
            <section class="row">
                <section class="col-50">
                    <div class="circle">

                    </div>
                </section>
                <section class="col-50 one-section">
                    <section class="column col-100 section-rectangule">
                        <div class="rectangule"> </div>
                        <div class="rectangule"> </div>
                    </section>
                </section>
            </section>
            <section class="row">
                <section class="col-50 two-section">
                    <div class="rectangule"> </div>
                </section>
                <section class="col-50 three-section">
                    <div class="rectangule"> </div>
                </section>
            </section>
        </section>

    </section>
    <!--  <div class="container-loading">
        <span>Cargando</span>
    </div> -->
</section>