<div class="fake-header">
</div>
<div class="header" [ngClass]="{'fixed-top': headerFixed}">
  <div class="container">
    <div class="title">Listado de Categorías</div>
    <div class="buttons-container">
      <button type="button" class="primary-button" (click)="changeEditMode()">
        <i class="fas fa-pencil"></i> Modo edición
      </button>
      <button type="button" class="primary-button" (click)='createBrand()'><i class="fas fa-plus-circle"></i> Agregar
        Categoría</button>
    </div>
  </div>
</div>

<div class="content">
  <section class='container'>
    <form [formGroup]="searchForm">
      <section class='container-table' formArrayName="searchs">
        <section *ngFor="let group of data; let search of searchs.controls; index as i">
          <section class='group-section' (click)='actionScroll(group)'>
            {{group.name}}
            <i class="fas fa-chevron-down" [ngClass]="{'rotate': group.scroll, 'out-rotate': !group.scroll}"></i>
          </section>
          <section [ngClass]="{'active-accordion': group.scroll, 'no-active-accordion': !group.scroll}">
            <ng-container *ngIf="group.scroll">

              <section id="search">
                <section class='container-search'>
                  <input type="text" id="searchInput" placeholder="Buscar" [(ngModel)]="group.search"
                    (ngModelChange)="setGroupIndex(i)" autocomplete="off" (keypress)="validateInput($event, i)"
                    (paste)="onPaste($event, i)" [formControlName]="i" />
                  <i class="far fa-search" *ngIf='seachInputIndex !== i'></i>
                  <app-search-loader [visibility]="seachInputIndex == i ? 'visible' : 'hidden'"></app-search-loader>
                </section>
              </section>

              <tr class="group-section headers">
                <td class="category name">
                  <p>Nombre de categoría</p>
                </td>
                <td class="category visibility">
                  <p>Visibilidad</p>
                </td>
                <td class="category position">
                  <p>Posición</p>
                </td>
              </tr>
            </ng-container>
            <app-list-category #listTableCategory [scrolled]="scrolled.asObservable()"
              [childrenCategory]="group.category" [valueShow]='treeInfo' [activeChangeBoolean]='editMode'
              [index]="group.index">
            </app-list-category>
          </section>
        </section>
      </section>
    </form>
  </section>
</div>
<app-dialog-confirm></app-dialog-confirm>